<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tom</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fa-brands fa-telegram"></i> ChatBot Tom <i class="fa-brands fa-telegram"></i>
      </div>
    </header>

    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img"> <i class="far fa-user-robot fa-3x"></i> </div>
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">Tom</div>
            <div class="msg-info-time">20:35</div>
          </div>

          <div class="msg-text">
            Hi, Iam Tom 😉
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder=" Type a message ">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v6.2.1/js/all.js'></script>
  <script src="{{ url_for('static', filename='chatbot.js') }}" type="text/javascript"></script>
</body>
</html>